/* ===== GLOBAL ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;
background:#ffffff;
color:#0B2E59;

}

a{

text-decoration:none;

}

img{

max-width:100%;

}

/* ===== NAVBAR ===== */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#082C5C;

position:sticky;

top:0;

z-index:1000;

}

.logo img{

height:75px;

}

.navbar ul{

display:flex;

list-style:none;

gap:35px;

}

.navbar ul li a{

color:white;

font-weight:500;

transition:.3s;

}

.navbar ul li a:hover{

color:#D8A028;

}

.join-btn{

background:#D8A028;

color:white;

padding:12px 28px;

border-radius:8px;

font-weight:600;

}

/* ===== HERO ===== */

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:80px;

min-height:85vh;

background:white;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-family:'Oswald',sans-serif;

font-size:70px;

line-height:1.05;

color:#082C5C;

margin-bottom:20px;

}

.hero-text span{

color:#D8A028;

}

.subtitle{

font-size:26px;

font-weight:600;

margin-bottom:20px;

color:#082C5C;

}

.hero-text p{

font-size:18px;

line-height:1.8;

margin-bottom:35px;

}

.buttons{

display:flex;

gap:20px;

}

.buttons a{

padding:15px 35px;

border-radius:10px;

font-weight:600;

}

.buttons a:first-child{

background:#082C5C;

color:white;

}

.buttons a:last-child{

border:2px solid #D8A028;

color:#082C5C;

}

.hero-image{

width:45%;

height:550px;

background:#F2F6FA;

border-radius:30px;

border:4px solid #D8A028;

}
